<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="/Pages/Galery/page.php">Galery</a>
    <a href="#tutors">Tutors</a>
    <a href="#ownProj">Own proj</a>
    <a href="#news">News</a>
    <a href="#aboutUs">About Us</a>
    <a href="#signIn" onclick="document.getElementById('signInForm').style.display='block'">Sign In</a>
    <a href="#signUp" onclick="document.getElementById('signUpForm').style.display='block'">Sign Up</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>