.comment {
    border-color: blueviolet;
    border-style: solid;
    color: white;
    margin: 8px;
    display: flex;
}

.comment-post{
    width: 100%;
    height: 100%;
}

.comment>div {
    margin: 4px;
    display: inline-block;
}

.header-comment{
    display: inline-block;
    font-weight: lighter;
    font-size: small;
}

.about-comment {
    font-weight: bold;
    font-size: large;
}

.time-comment{
    text-align: right;
    font-size: x-small;
    font-weight: lighter;
}

.product-comment { 
}  

.text-comment {
    font-size: small;
}

.comment>div>img {
    width: 100px;
    height: 100px;
    object-fit: cover
}