<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="comment.css">

</head>

<body>
    <div class="comments-container">
        <div class="comment">
            <div>
                <img src="/assets/imgs/guitars/374850.jpg">
            </div>
            <div class="comment-post">
                <div class="about-comment">Норм</div>
                <div class="produc-comment">Cort G510</div>
                <div class="text-comment">THE GUITAR CHARACTERISTICS, TEY WILL BE DIFFERENT FOR AQUSTIC CLASSIC AND
                    ELECTRONIC GUITARS, SO IT WILL BETTER TO CREATE A LIST WITH CHARACTERISTICS AND WHEN CREATE A PAGE
                    CHECK THE CLASS OF GUITAR(ELECTRIC OR CLASSIC AND FILL CHARACTERISTICS
                    FROM THIS LIST
                </div>
            </div>
        </div>
        <div class="comment">
            <div>
                <img src="/assets/imgs/guitars/374850.jpg">
            </div>
            <div class="comment-post">
                <div class="about-comment">Норм</div>
                <div class="produc-comment">Cort G510</div>
                <div class="text-comment">THE GUITAR CHARACTERISTICS, TEY WILL BE DIFFERENT FOR AQUSTIC CLASSIC AND
                    ELECTRONIC GUITARS, SO IT WILL BETTER TO CREATE A LIST WITH CHARACTERISTICS AND WHEN CREATE A PAGE
                    CHECK THE CLASS OF GUITAR(ELECTRIC OR CLASSIC AND FILL CHARACTERISTICS
                    FROM THIS LIST
                </div>
            </div>
        </div>
    </div>
</body>

</html>