<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Templates/Styles/main.css">
    
    <link rel="stylesheet" href="/Templates/Styles/topNav.css">
    <link rel="stylesheet" href="/Templates/Styles/descriptionMain.css">
    <link rel="stylesheet" href="/Templates/Styles/entranceInfMain.css">

    <!-- MENUS -->
    <link rel="stylesheet" href="/Templates/Styles/overlayMenu.css">

    <!-- SIGN UP -->
    <link rel="stylesheet" href="/Templates/Styles/signUp.css">

    <!-- SIGN IN -->
    <link rel="stylesheet" href="/Templates/Styles/signIn.css">
    {{Styles}}
    
    <script src="/Templates/Scripts/overlayMenu.js"></script>
    <script src="/Templates/Scripts/signIn.js"></script>
    <script src="/Templates/Scripts/main.js"></script>
    {{JSmodules}}
</head>

<body>

    <div class="container">
        <!-- TOP NAVIGATION -->

        <div class="topnav" id="myTopnav">
            <a href="/Pages/Index/index.php">Home</a>
            <a href="/Pages/Galery/galery.php">Galery</a>
            <a href="/Pages/Tutor/tutor.php">Tutors</a>
            <a href="/Pages/OwnProjects/projects.php">Own proj</a>
            <a href="/Pages/News/news.php">News</a>
            <a href="/Pages/About/about.php">About Us</a>
            <a href="#signIn" onclick="document.getElementById('signInForm').style.display='block'">Sign In</a>
            <a href="#signUp" onclick="document.getElementById('signUpForm').style.display='block'">Sign Up</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <!-- STICKY NAV -->

        <div class="stickynav" onclick="openNav()">
            <i class="fa fa-bars"></i>
        </div>
        {{Content}}
    </div>

    <!-- SIGN UP MODAL PART -->
    <!-- The Modal (contains the Sign Up form) -->
    <div id="signUpForm" class="signUpModal">
        <span onclick="document.getElementById('signUpForm').style.display='none'" class="close"
            title="Close signUpModal">&times;</span>
        <form class="signUpModal-content" action="/action_pageSignUp.php">
            <div class="signUpContainer">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

                <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                </label>

                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('signUpForm').style.display='none'"
                        class="cancelbtn">Cancel</button>
                    <button type="submit" class="signup sbmtBtn">Sign Up</button>
                </div>
            </div>
        </form>
    </div>

    <div id="signInForm" class="signInModal">
        <span onclick="document.getElementById('signInForm').style.display='none'" class="close"
            title="Close signInModal">&times;</span>

        <!-- signInModal Content -->
        <form class="signInModal-content animate" action="/action_page.php">
            <div class="signInImgcontainer">
                <img src="/assets/imgs/signIn/personIco.jpg" alt="Avatar" class="avatar">
            </div>

            <div class="signInModalFirstContainer">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>

                <button type="button" onclick="document.getElementById('signInForm').style.display='none'"
                    class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>

    <!-- OVERLAY MENU -->
    <!-- The overlay -->
    <div id="myNav" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <!-- Overlay content -->
        <div class="overlay-content">
            <a href="/Pages/Index/index.php">Home</a>
            <a href="/Pages/Galery/galery.php">Galery</a>
            <a href="/Pages/Tutor/tutor.php">Tutors</a>
            <a href="/Pages/OwnProjects/projects.php">Own proj</a>
            <a href="/Pages/News/news.php">News</a>
            <a href="/Pages/About/about.php">About Us</a>
        </div>

    </div>
</body>